section(class="canvas front" id="front")

    div(class="content")

        h3 مكتب سعيد الهزاع للإستشارات القانونية والمحاماة

        div

            p ترخيص محاماة رقم و تاريخ

            div

                a(href="#section-2") من نحن
                a(href="#section-3") تواصل معنا

    +nav-1("section-1")
